@model List<Blob>

<div class="container  p-4">
    <div class="row">
        <h4>Blob Container - <span class="text-primary">jakeblobstorage-images</span></h4>
    </div>
    <div class="row pt-4">
        @foreach (var item in Model)
        {
            <div class="col-4 border p-2">
                <h4 class="text-primary">@item.Title</h4>
                <img src="@item.Uri" width="100%" />
            </div>
        }
    </div>
</div>