@model List<string>

<div class="container">
	<div class="row">
		<div class="p-4">
			<h4 class="text-primary">Blob Storage Hierarchy</h4>
			<br/>
			@foreach (var item in Model)
			{
				<p>@item</p>
			}
		</div>
	</div>
</div>